<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h>Hello World</h>
    <script src="test.html"></script>
    <button type="button">Click Me!</button>
    <script src="features.js"></script>
    <script src="listofcontacts.js"></script>
    <!--<main> </main>
    <h1>Contacts</h1>
    <h1>Users</h1>
    <ul>
        <% users.forEach(function(user) { %>
        <li><%= user.userName %></li>
        <% }); %>
    </ul>-->
    <button type="button" onclick="test()">Click Me!</button>
    <script src="phone_test.js"></script>
    <button onclick="enter()">Submit</button>
</body>
</html>